[Unit]

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/root/iot-server/build/server-iot
WorkingDirectory=/root/iot-server
User=root
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n