<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}} | IoT Server V1</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
      rel="stylesheet"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <link
      rel="icon"
      type="image/png"
      href="/static/image/Bogor_Agricultural_University.png"
      sizes="16x16"
    />
    <style>
      .overlay { background-color: black; position: fixed; width: 100%; height:
      100%; z-index: 1000; left: 0px; opacity: 0.5; filter: alpha(opacity=50);
      visibility: hidden; }
    </style>
    <link rel="stylesheet" href="/static/css/global.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
      integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/jwt-decode.js"></script>

  </head>

  <body>
    <div
      class="overlay d-flex justify-content-center align-items-center"
      id="loading"
    >
      <div class="d-flex justify-content-center align-items-center">
        <div
          class="spinner-grow text-primary me-3"
          role="status"
          style="width: 3rem; height: 3rem; z-index: 20;"
        >
          <span class="sr-only">Loading...</span>
        </div>
        <h1>Loading</h1>
      </div>
    </div>
    <!-- Util Script -->
    <script src="/static/js/util.js"></script>
    <div class="container">
      <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
      >
        <a
          href="/"
          class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
        >
          <img
            src="/static/image/Bogor_Agricultural_University.png"
            width="64px"
            height="64px"
          />
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a
              href="/hardware"
              class="nav-link px-2 link-dark"
            >Hardware</a></li>
          <li><a href="/node" class="nav-link px-2 link-dark">Node</a></li>
          <li><a href="/sensor" class="nav-link px-2 link-dark">Sensor</a></li>
        </ul>

        <div class="col-md-3 text-end" id="login-register-section">
          <a href="/user/login">
            <button
              type="button"
              class="btn btn-outline-primary me-2"
            >Login</button>
          </a>
          <a href="/user/signup">

            <button type="button" class="btn btn-primary">Sign-up</button>
          </a>
        </div>
        <div class="ms-3 col-md-3 text-end row" id="logout-section">
          <div
            class="col-10 d-flex flex-column justify-content-center align-items-center"
          >
            <p class="mb-1" style="font-size: medium;" id="head-username">Danny
              McLoan</p>
            <p class="mb-2 pb-1 text-muted" id="head-email">Senior Journalist</p>
          </div>
          <div class="col-2 text-start d-flex align-items-center">
            <button
              type="button"
              id="logout-button"
              class="btn btn-primary"
            >Logout</button>
          </div>
        </div>
      </header>
    </div>
    {{embed}}
    <!-- MDB -->
    <script src="/static/js/header.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"
    ></script>
  </body>
</html>