<div class="container">
  <!-- Intro settings -->
  <style>
    /* Default height for small devices */ #intro-example { height: 400px; } /*
    Height for devices larger than 992px */ @media (min-width: 992px) {
    #intro-example { height: 600px; } }
  </style>
  <!-- Background image -->
  <div
    id="intro-example"
    class="p-5 text-center bg-image"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');"
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Server IoT V2</h1>
          <h5 class="mb-4">
            by Muhammad Dafa Athaullah
          </h5>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->

</div>